* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Helvetica, cursive;
}

main {
  min-height: 100vh;
  padding: 2em 3em;
  background-color: #393e46;
  color: #eeeeee;
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main h1 {
  min-height: 10vh;
  text-align: center;
  grid-column: 1/-1;
  font-size: 3.5rem;
}

#remaining,
#completed {
  min-height: 70vh;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 2em;
  margin: 0 0.8em;
}

h3 {
  font-size: 2.5rem;
}
.task-card {
  width: 100%;
  color: #222831;
  border-radius: 10px;
  margin: 1.5em 0;
  padding: 0.5em 2em;
  font-size: 1.15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s ease-in;
}
.task-card.p1 {
  background-color: #fff8dc;
}
.task-card.p2 {
  background-color: #efdfbb;
}
.task-card.p3 {
  background-color: #eedc82;
}
#completed .task-card {
  background-color: #32e0c4;
}
button {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
}
#completed-btn {
  border-radius: 5px;
  background-color: #7fff00;
}
#completed-btn:hover {
  background-color: #00ff00;
}
#delete-btn {
  border-radius: 5px;
  background-color: salmon;
}
#delete-btn:hover {
  background-color: lightsalmon;
}

h4 {
  font-size: 1.5rem;
}

aside {
  min-height: 100vh;
  flex: 2;
  background-color: #32e0c4;
  color: #222831;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
label {
  font-size: 1.5em;
}
input[type='text'],
select {
  cursor: pointer;
  background-color: #eeeeee;
  color: #222831;
  transition: all 0.1s ease-in;
}
input[type='submit'] {
  cursor: pointer;
  padding: 1.2em 2em;
  border-radius: 10px;
  background-color: #222831;
  color: #eeeeee;
}
select {
  display: block;
  margin-top: 0.8em;
  padding: 0.5em 0.8em;
}
input[type='text'] {
  width: 90%;
}
input::placeholder {
  color: #000;
}
input,
select,
input:focus {
  text-align: left;
  border: none;
  padding: 1em 2em;
}
input:hover,
select:hover,
input:focus {
  background-color: #393e46;
  color: #eeeeee;
}
input:hover::placeholder,
input:focus::placeholder {
  color: #eeeeee;
}
form {
  width: 80%;
  position: sticky;
  top: 0;
  right: 0;
  margin: 20vh auto;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }
  aside,
  main {
    min-height: 50vh;
  }
  form {
    margin: 2em 0;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    grid-gap: 2em 0;
  }
  #remaining,
  #completed {
    min-height: 30vh;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}
